* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
    min-width: 320px;
    
}
.wrap{
    max-width: 100%;
    padding: 0, 0;
    margin: 0 auto;
}
body{
    /*background-image: url('../img/bg1.jpg');*/
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    
    
}
.header_logo{
    /* Bali Travel */
    

    position: absolute;
    width: 321px;
    height: 100px;
    left: 205px;
    top: 49px;

    font-family: Fondamento;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 100px;
    /* identical to box height */


color: #ffffff;
}
h1{
    /* Авторские путешествия на Бали */


    position: absolute;
    width: 688px;
    height: 270px;
    left: 120px;
    top: 830px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 94%;
    /* or 90px */

    display: flex;
    align-items: center;

    color: #ffffff;
}
.header_button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 94%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;

    color: #ffffff;
}
.more{
    /* подробнее */


    position: absolute;
    width: 141px;
    height: 23px;
    left: 744px;
    top: 87px;
}
.catalog{
    /* каталог */


    position: absolute;
    width: 95px;
    height: 23px;
    left: 978px;
    top: 88px;
}
.contacts{
    /* контакты */


    position: absolute;
    width: 115px;
    height: 23px;
    left: 1166px;
    top: 87px;
}
.comments{
    /* отзывы */


    position: absolute;
    width: 91px;
    height: 23px;
    left: 1374px;
    top: 87px;
}
.entry{
    /* вход в кабинет */


    position: absolute;
    width: 250px;
    height: 17px;
    left: 1649px;
    top: 91px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 94%;
/* identical to box height, or 17px */

    display: flex;
    align-items: center;

    color: #ffffff;
}

a:link{
    text-decoration: none;
    color: #ffffff;
}
A:visited { 
    text-decoration: none;
    color: #ffffff;
} 
A:active { text-decoration: none; }
A:hover {
    text-decoration: wavy; /* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: rgb(218, 218, 218); /* Цвет ссылки */
}






/*********************************************



Блок№2



*********************************************/




h2{
    /*Что ждет в путевке?*/
    position: absolute;
    width: 1000px;
    height: 240px;
    left: 120px;
    top: 1258px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 250%;
    /* identical to box height, or 240px */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 250%;
    /* identical to box height, or 60px */

    display: flex;
    align-items: center;

    color: #000000;
}


.Pura_luhur{
    /* Храм Пура Лухур */


    position: absolute;
    width: 229px;
    height: 60px;
    left: 159.02px;
    top: 1600.05px;
}

.batur{
    /* Батур */


    position: absolute;
    width: 79px;
    height: 60px;
    left: 598.33px;
    top: 1600.36px;
}

.tanah{
    /* Храм Танах-Лот */


    position: absolute;
    width: 239px;
    height: 60px;
    left: 1048.15px;
    top: 1600.36px;
}

.Tyr{
    position: absolute;
    width: 156px;
    height: 60px;
    left: 1479.98px;
    top: 1600.65px;
}
.kek{
    position: absolute;
    width: 229px;
    height: 60px;
    
}
.pic1{
    /* image 2 */


    position: absolute;
    width: 349.99px;
    height: 227.08px;

    background: url(../img/PuraLuhur.png);
    border-radius: 25px 0px 0px 0px;
}
.pic2{
    /* batur */


    position: absolute;
    width: 349.99px;
    height: 227.08px;


    background: url(../img/batur.png);
    border-radius: 25px 0px 0px 0px;

}
.pic3{
    position: absolute;
    width: 349.99px;
    height: 227.08px;


    background: url(../img/Tanah.png);
    border-radius: 25px 0px 0px 0px;
}
.pic4{
    position: absolute;
    width: 349.99px;
    height: 227.08px;

    background: url(../img/Tyr.png);
    border-radius: 25px 0px 0px 0px;
}


.rect1{

    position: absolute;
    width: 329px;
    height: 438.6px;
    top: 227px;
        

    background: linear-gradient(180deg, #FFFFFF 61.99%, rgba(255, 255, 255, 0) 100%);
    padding: 11px 10.5px;
    display: inline-block;

}
h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 250%;
/* or 30px */

display: flex;
align-items: center;

color: #000000;
}